.formStyle{
    display: block;
    padding: 10px;
    margin-bottom: 10px;  
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
}

.fialdStyle{
display: block;
padding: 10px;

}

.field{
    display: block;
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

.btn{
    display: block;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
}

.err{
    color: red;
}